*{
  padding:0px;
  margin:0px;
}
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  margin-top:14px;
}
.navbar a:hover {
  background: white;
  color: black;
}
@media all and (max-width: 800px) {
  .navigation {
      justify-content: space-around;
 }
}
@media all and (max-width: 600px) {
  .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
 }
  .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
 }
  .navigation li:last-of-type a {
      border-bottom: none;
 }
}
@media screen and (max-width:700px) {
  .navbar nav a{
      display: flex;
      flex-direction:column;
 }
}
.column{
  float:left;
  margin:30px;
}
.row:after {
  display: flex;
  flex-wrap:wrap;
  content: "";
  display: table;
  clear: both;
}
.main{
  padding: 16px;
  margin-top:30px;
  font-size:20px;
  font-family: AudiType-Normal,Helvetica,Arial,sans-serif;
}
.parallax{
  background-image: url(../img/audi.jpg);
  height: 100%;
  width:100%;
  background-size:110% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer1 {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background-color:black;
  text-align: center;
}
.footer1 a{
  float:right;
  padding: 10px;
  text-align:center;
}
.footer1 p{
  color:white;
  font-size:20px;
}
.footer1 h2{
  color:white;
}
.footer1 a i{
  color:white;
  font-size:36px;
}
.footer1 a i:hover {
  margin-bottom:10px;
  background: white;
  color:black;
}